// --------- Fonts ----------
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
// Example
// @include font("Mozer", "Mozer-Light", "300", "normal");
// @include font("Mozer", "Mozer-Bold", "700", "normal");
@import "./_fonts.scss";


// --------- Main ----------
@import "./_reset.scss";
@import "./_global.scss";
@import "./main.scss";


// --------- Plugins ----------


// --------- Media ----------
@import "./media.scss";
