// --------- Fonts ----------
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "./_fonts.scss";


// --------- Main ----------
@import "./_reset.scss";
@import "./_global.scss";
@import "./not-main.scss";
@import "./main.scss";

// --------- Plugins ----------
@import "./semantic.scss";
@import "./simple-select.scss";
@import "../../node_modules/magnific-popup/dist/magnific-popup.css";
@import "../../node_modules/air-datepicker/air-datepicker.css";
@import "./odometer.scss";

// --------- Media ----------
@import "./media.scss";
